* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#forecast {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
}

.forecastDiv {
    background-color: lightblue;
    flex-shrink: 0;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.forecastDiv img {
    height: 100px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
}

#searchBar {
    display: flex;
    justify-content: center;
}